
<div class="banner-bookings">
  <h2>Vos réservations en cours, Capitaine</h2>
</div>



<div class="container">
  <!-- Card booking -->
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-md-4" data-booking-id="<%= booking.id %>">
          <div class="card-container">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0)), url('<%= booking.place.port.picture %>');">
            </div>
            <div class="price">
              <h5><i class="fa fa-tag"></i> <%= booking.invoiced_price %> €</h5>
            </div>
            <div class="card-description">
              <div class="row">

                <div class="col-xs-12">
                  <h4><%= booking.place.port.port_name %></h4>
                </div>
                <br>
                <div class="col-xs-6">
                  <h6>Date d'arrivée</h6>
                  <p><%= booking.arrival_date.strftime ("%d/%m/%Y") %></p>
                </div>
                <div class="col-xs-6">
                  <h6>Date de départ</h6>
                  <p><%= booking.departure_date.strftime ("%d/%m/%Y") %></p>
                </div>
                <br>
                <div class="col-xs-12">
                  <h6>Dimensions de votre place :</h6>
                  <ul>
                    <li>Longueur: <%= booking.place.length %> m</li>
                    <li>Largeur: <%= booking.place.width %> m</li>
                    <li>Tirant d'eau: <%= booking.place.draught %> m</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-btn">
              <%= link_to "Annuler", booking_path(booking), method: :delete, data: { confirm: "Are your sure to delete this booking ?"}, remote: true, class: "btn-delete" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>





