<h2>Your Boat captain</h2>

<ul>
  <li><%= current_user.first_name %></li>
  <li><%= current_user.last_name %></li>
  <li><%= current_user.picture %></li>
  <li><%= current_user.email %></li>
  <li><%= current_user.phone_number %></li>
  <li><%= current_user.civility %></li>
  <li><%= current_user.address %></li>
  <li><%= current_user.post_code %></li>
  <li><%= current_user.city %></li>
  <li><%= current_user.country %></li>
  <li><%= link_to "edit your account", edit_user_path%></li>
</ul>

<ul>
<% @boats.each do |boat| %>
  <li><%= boat.nickname %></li>
  <li><%= boat.immatriculation %></li>
  <li><%= boat.brand %></li>
  <li><%= boat.manufacturer %></li>
  <li><%= boat.model %></li>
  <li><%= boat.boat_type %></li>
  <li><% boat.multihull? ? "multicoque" : "monocoque" %>
  <li><%= boat.length %> mètre</li>
  <li><%= boat.width %> mètre</li>
  <li><%= boat.draught %> mètre</li>
  <li> <%= link_to "edit", edit_boat_path(boat)  %></li>
  <li>-----------------------</li>
<% end %>
<li><%= link_to "Add a new boat", new_boat_path  %></li>
</ul>

<h2>Your Bookings</h2>
<ul>
  <% @bookings.each do |booking| %>
  <li><%= image_tag booking.place.port.picture%></li>
  <li><%= booking.arrival_date %></li>
  <li><%= booking.departure_date %></li>
  <li><%= booking.invoiced_price %>€</li>
  <li><%= booking.comment %></li>
  <li>-----------------------</li>
  <% end %>
</ul>
<%= link_to "Change your password", edit_user_registration_path %>
<%= link_to "Destroy your account", user_path, method: :delete, data: { confirm: "You sure?" } %>




