
<h2>Your Bookings</h2>

<div class="container">
  <!-- Card booking -->
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-xs-12 col-md-4">
          <div class="card-container">
            <div class="card-booking">
              <div class="card-description">
                <ul>
                  <li><%= booking.arrival_date %></li>
                  <li><%= booking.departure_date %></li>
                  <li><%= booking.invoiced_price %>€</li>
                  <li><%= booking.comment %></li>
                </ul>
              </div>

              <%= image_tag booking.place.port.picture , class: "card-user" %>
              <div class="card-btn">
                <%= link_to "delete", booking_path(booking), method: :delete, data: { confirm: "Are your sure to delete this booking ?"} %>
               </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<%= link_to "Change your password", edit_user_registration_path %>
<%= link_to "Destroy your account", user_path, method: :delete, data: { confirm: "You sure?" } %>




