<%= render 'pages/search_bar' %>


<% if @hash.empty? %>
  <h1 class="text-center"><%= "Aucune place ne correspond à votre recherche. Veuillez modifier vos critères." %></h1>

<% else %>

        <div id="custom_style" style="width: 100%; height: 325px;" >
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
            $(document).ready(function() {

              var handler = Gmaps.build('Google');

              handler.buildMap({
                internal: { id: 'custom_style' },
                provider: {
                  center: {
                    lat: <%= @geographic_center[0] %>,
                    lng: <%= @geographic_center[1] %>
                  },
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#38A5EE"},{"visibility":"on"}]}]
                }
              },
              function() {
                <% @hash.each do |marker| %>
                  markers = handler.addMarker(<%= raw ({ lat: marker[:lat], lng: marker[:lng] }.to_json) %>, { label: '<%= @places[marker[:id]] %>' });
                  handler.bounds.extendWith(markers);
                <% end %>
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(6);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
            <% end %>
          <% end %>
        </div>
<br>
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div id="port-sidebar">
        <% @ports.each do |port| %>
          <div class="card-port">
          <h4 class="card-title"><%= port.port_name%> : <%= @places[port.id] || 0 %> place(s) disponible(s) </h4>
          <h5>Prix estimé de la place / jour : <%= port.place_minimum_price %> €</h5>
          <div class="card-block">
            <div class="row">
              <div class="col-xs-4">
                <%= image_tag port.picture, class: "card-img-index img-responsive img-rounded" %>
              </div>
                <div class="col-xs-8 align-blocks">
                  <br><br><h4>Numéro de téléphone: <%= port.phone_number %>
                  <br>Radio: <%= port.radio_channel %></h4>
                  <br><h5 id="port-desc" class="card-text"><%= port.description%></h5>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <h5 class="card-subtitle mb-2 text-muted"><%= "#{port.size} places totales dans ce port"%></h5>
                <h5>Coordonnées GPS du port:</h5>
                <p>Longitude: <%= port.longitude %></p>
                <p>Latitude: <%= port.latitude %></p>
              </div>
              <div class="col-xs-12 col-sm-4">
              <div class="button-align">
              <%= link_to "Réserver une place", port_path(port, @target), class: "btn"%>
              </div>
              </div>
            </div>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

</div>
