<h1>Liste des Ports </h1>

<div id="map" style="width: 50%; height: 300px;">

  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
    <% end %>
  <% end %>

</div>

<%= "TESTING" %>
<br><%="target port: "%><%= @target[:port_name] %>
<br><%="length: "%><%= @target[:length] %>
<br><%="width: "%><%= @target[:width] %>
<br><%="draught: "%><%= @target[:draught] %>

  <% @ports_selected.each do |port| %>
    <br>
    <br><%="port name: "%><%= port.port_name %>
    <br><%="port id: "%><%= port.id %>
      <% port.places.each do |place| %>
        <br>
        <br><%="width: "%><%= place.width %>
        <br><%="length: "%><%=place.length %>
        <br><%="draugth: "%><%=place.draught %>
        <br>
      <% end %>
  <% end %>

<br>

<% @ports_selected.each do |port| %>

<div>
<br>
<%= port.port_name %>
<br>
<%= port.description %>
<br>
<%= image_tag port.picture %>

<br>
<%= "#{port.size} places totales dans le port"%>
<br>
<%= "#{port.places.count} places dispos en location" %>
<br>
<%= port.phone_number %>
<br>
<%= port.lng %>
<br>
<%= port.lat %>
<br>
</div>

<% end %>
