<%= link_to "port18", port_path(18, arrival_date: "03/22/2017", departure_date: "03/25/2017")  %>

<%= render 'pages/search_bar' %>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div id="map" style="width: 100%; height: 450px;" class="d-inline">
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div id="port-sidebar" class="d-inline">
        <% @ports_selected.each do |port| %>
          <div class="card-port">
            <%= image_tag port.picture, class: "card-img-index" %>
            <div class="card-block">
              <h4 class="card-title"><%= port.port_name%></h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= "#{port.size} places totales dans le port"%></h6>
              <p class="card-text"><%= port.description%></p>
              <%= port.phone_number %>
              <%= port.lng %>
              <%= port.lat %>
              <%= "#{port.places.count} places dispos en location" %>
              <%= link_to "Je réserve une place", port_path(port, @target) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= "TESTING" %>
<br><%="target port: "%><%= @target[:port_name] %>
<br><%="length: "%><%= @target[:length] %>
<br><%="width: "%><%= @target[:width] %>
<br><%="draught: "%><%= @target[:draught] %>
<br><%="arrival_date: "%><%= @target[:arrival_date] %>
<br><%="departure_date: "%><%= @target[:departure_date] %>
