<%= render 'pages/search_bar' %>

<div class="container">

  <div class="row">

      <div class="col-xs-12 col-sm-12">

        <div id="map" style="width: 100%; height: 450px;" >
          <% content_for(:after_js) do %>
            <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');


              handler.buildMap({
                internal: { id: 'map' },
                provider: { center: {
                    lat: <%= @geographic_center[0] %>,
                    lng: <%= @geographic_center[1] %>
                  }
                }
              },
              function() {
                <% @hash.each do |marker| %>
                  markers = handler.addMarker(<%= raw ({ lat: marker[:lat], lng: marker[:lng] }.to_json) %>, { label: '<%= @places[marker[:id]] %>' });
                  handler.bounds.extendWith(markers);
                <% end %>
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(6);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
            <% end %>
          <% end %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div id="port-sidebar">
        <% @ports.each do |port| %>
          <div class="card-port">
          <h4 class="card-title"><%= port.port_name%> : <%= @places[port.id] || 0 %> place(s) disponible(s) </h4>
          <h5>Prix estimé de la place / jour : <%= port.place_minimum_price %> €</h5>
          <div class="card-block">
            <div class="row">
              <div class="col-xs-6">
                <%= image_tag port.picture, class: "card-img-index img-responsive img-rounded" %>
              </div>
                <div class="col-xs-6 align-blocks">
                  <p>Numéro de téléphone: <%= port.phone_number %>
                  <br>Radio: <%= port.radio_channel %></p>
                </div>
            </div>
              <h6 class="card-subtitle mb-2 text-muted"><%= "#{port.size} places totales dans ce port"%></h6>
              <h5 id="port-desc" class="card-text"><%= port.description%></h5>
              <h5>Coordonnées GPS du port:</h5>
              <p>Longitude: <%= port.longitude %></p>
              <p>Latitude: <%= port.latitude %></p>
              <div class="button-align">
              <%= link_to "Réserver une place", port_path(port, @target), class: "btn"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
