<%= render 'pages/search_bar' %>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      <div id="map" style="width: 100%; height: 450px;" >
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({
              internal: { id: 'map' },
              provider: { center: {
                lat: <%= @geographic_center[0] %>,
                lng: <%= @geographic_center[1] %>
                }
              }
            },
            function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(6);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div id="port-sidebar">
        <% @ports.each do |port| %>
          <div class="card-port">
            <%= image_tag port.picture, class: "card-img-index" %>
            <div class="card-block">
              <h4 class="card-title"><%= port.port_name%></h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= "#{port.size} places totales dans le port"%></h6>
              <p id="port-desc" class="card-text"><%= port.description%></p>
              <br><%= port.phone_number %>
              <br><%= port.longitude %>
              <br><%= port.latitude %>
              <br><%= @places[port.id] || 0 %> places disponibles en location selon vos critères
              <%= link_to "Je réserve une place", port_path(port, @target), class: "card-link-port" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

