<div class="inner-container">
  <div class="container-fluide">
    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-port-show">
          <%= image_tag @port.picture, class: "card-img-show"%>
          <div class="card-block">
            <h3><%= @port.port_name %></h3>
            <h4>Place de disponible: <%=@port.places.count %> </h4>
            <p>Capacité d'accueil: <%=@port.size %></p>
          </div>
          <div class="card-block">
            <h5>Situation et coordonnées</h5>
            <p>Coordonnées GPS:</p>
              <p>-longitude <%=@port.longitude%>  </p>
              <p>-latitude <%= @port.latitude %></p>
            <p>VHF: <%= @port.radio_channel %></p>
            <p>téléphone: <%= @port.phone_number %></p>
            <p>Email: <%= @port.email %></p>
            <p>Adresse: <%= @port.address %></p>
          </div>
          <div class="card-block">
          <h5>Ravitaillement disponible:</h5>
          <% if @place_select.ss_elec %>
           <p>-éléctricité</p>
          <% end %>
          <% if @place_select.ss_fuel %>
            <p>-fuel</p>
          <% end %>
          <% if @place_select.ss_fresh_water %>
            <p>-eau</p>
          <% end %>
          <% if @place_select.ss_ice %>
            <p>-glace</p>
          <% end %>

          <h5>Commoditées disponible:</h5>
          <% if @place_select.ss_tel %>
            <p>-téléphonie</p>
          <% end %>
          <% if @place_select.ss_wifi %>
            <p>-wifi</p>
          <% end %>
          <% if @place_select.ss_shower %>
            <p>-douche</p>
          <% end %>
          <% if @place_select.sc_waste_sorting %>
            <p>-tri des déchets</p>
          <% end %>
          <% if @place_select.sc_waste_pumping %>
            <p>-pompage des déchets</p>
          <% end %>
          <% if @place_select.sc_waste_container %>
            <p>-containeur à déchet</p>
          <% end %>
          <% if @place_select.sc_security %>
            <p>-service de sécurité</p>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1">
        <div class="card-port-show-book fixed">
          <div class="card-block-show-booking">
            <div class="row">
              <div class="col-xs-8">
                <h5>Votre réservation</h5>
              </div>
            </div>
            <div class="price_show">
              <i class="fa fa-tag"></i>
              <h4><%= @invoiced %>€</h4>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <h6>date d'arrivé</h6>
              <p><%= @arrival_date %></p>
            </div>
            <div class="col-xs-6">
              <h6>date de départ</h6>
              <p><%= @departure_date %></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <h6>les caractéristique de votre bateau </h6>
            </div>
            <div class="col-xs-12">
              <ul>
                <li>longueur
                <%= params[:length] %> mètre
                </li>
                <li>
                  largeur
                <%= params[:width] %> mètre
                </li>
                <li>

                tirant d'eau
                <%= params[:draught] %> mètre
                </li>





              </ul>
            </div>
          </div>
            <%= simple_form_for([@port,@booking]) do |f| %>
            <%= f.error_notification %>
            <p><%= f.input :arrival_date, input_html: {value: @arrival_date}, as: :hidden %></p>
            <p><%= f.input :departure_date, input_html: {value: @departure_date}, as: :hidden %></p>
            <p><%= f.input :place_id, input_html: {value: @place_id}, as: :hidden %></p>
              <% if user_signed_in? %>
                <button type="button" class="btn" data-toggle="modal" data-target="#modalbooking">Réservation</button>
              <% else %>

                <button class="btn"><%= link_to t(".sign_in", default: "Réservation"), new_user_session_path %></button>

              <% end %>
            <% end %>
        </div>
      </div>
      <div class="col-xs-12 visible-xs">
        <div class="card-port-show-book">
          <div class="card-block-show-booking">
            <div class="row">
              <div class="col-xs-8">
                <h5>Votre réservation</h5>
              </div>
            </div>
            <div class="price_show">
              <i class="fa fa-tag"></i>
              <h4><%= @invoiced %>€</h4>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-6">
              <h6>date d'arrivé</h6>
              <p><%= @arrival_date %></p>
            </div>
            <div class="col-xs-6">
              <h6>date de départ</h6>
              <p><%= @departure_date %></p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <h6>les caractéristique de votre bateau </h6>
            </div>
            <div class="col-xs-4">
              <p>longueur</p>
              <p><%= params[:length] %> mètre</p>
            </div>
            <div class="col-xs-4">
              <p>largeur </p>
              <p><%= params[:width] %> mètre</p>
            </div>
            <div class="col-xs-4">
              <p>tirant d'eau </p>
              <p><%= params[:draught] %> mètre</p>
            </div>
          </div>
          <div>
            <%= simple_form_for([@port,@booking]) do |f| %>
            <%= f.error_notification %>
            <p><%= f.input :arrival_date, input_html: {value: @arrival_date}, as: :hidden %></p>
            <p><%= f.input :departure_date, input_html: {value: @departure_date}, as: :hidden %></p>
            <p><%= f.input :place_id, input_html: {value: @place_id}, as: :hidden %></p>
          </div>
            <% if user_signed_in? %>
                <button type="button" class="btn" data-toggle="modal" data-target="#modalbooking">Réservation</button>
              <% else %>
                <button class="btn"><%= link_to t(".sign_in", default: "Réservation"), new_user_session_path %></button>
              <% end %>
            <% end %>
        </div>
      </div>
      <div class="modal fade" id="modalbooking" tabindex="-1" role="dialog" aria-labelledby="booking">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">X</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Verification de votre réservation: </h4>
          </div>
          <div class="modal-body">
            <div class="row"></div>
              <div class="col-xs-6">
                <h6>date d'arrivée</h6>
                <p><%= @arrival_date %></p>
               </div>
              <div class="col-xs-6">
                <h6>date de départ</h6>
                <p><%= @departure_date %></p>
              </div>
            <div class="row">
              <div class="col-xs-12">
                <h6>les caractéristique de votre bateau </h6>
              </div>
              <div class="col-xs-4">
                <p>longueur</p>
                <p><%= params[:length] %> mètre</p>
              </div>
              <div class="col-xs-4">
                <p>largeur </p>
                <p><%= params[:width] %> mètre</p>
              </div>
              <div class="col-xs-4">
                <p>tirant d'eau </p>
                <p><%= params[:draught] %> mètre</p>
              </div>
              <div class="col-xs-12">
                <h6>prix total estimé:<%= @invoiced %>€</h6>
              </div>

              <%= simple_form_for([@port,@booking]) do |f| %>
              <%= f.error_notification %>
              <div class="col-xs-12">
                <p><%= f.input :comment, label: "Un commentaire à ajouter à la capitainerie ?" %></p>
              </div>
                <p><%= f.input :arrival_date, input_html: {value: @arrival_date}, as: :hidden %></p>
                <p><%= f.input :departure_date, input_html: {value: @departure_date}, as: :hidden %></p>
                <p><%= f.input :place_id, input_html: {value: @place_id}, as: :hidden %></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <%= f.submit "Réserver", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
