<h2><%= @port.port_name %></h2>
<h3>Place de disponible <%=@port.places.count %> </h3>
<%= @port.picture %>
<p>Capacité d'accueil: <%=@port.size %></p>
<h4>Situation et coordonnées</h4>
<p>Coordonnées GPS: -lng <%=@port.lng%> -lat <%= @port.lat %></p>
<p>VHF: <%= @port.radio_channel %></p>
<p>téléphone: <%= @port.phone_number %></p>
<p>Email: <%= @port.email %></p>
<p>Adresse: <%= @port.address %></p>

<h4>Ravitaillement disponible:</h4>
<% @port.place_ids.each do |id| %>
  <% if Place.find(id).ss_elec %>
    <p>-éléctricité</p>
  <% end %>
  <% if Place.find(id).ss_fuel %>
    <p>-fuel</p>
  <% end %>
  <% if Place.find(id).ss_fresh_water %>
    <p>-eau</p>
  <% end %>
  <% if Place.find(id).ss_ice %>
    <p>-glace</p>
  <% end %>
<% end %>
<p>-----------------------------</p>
<h4>Commoditées disponible:</h4>
<% @port.place_ids.each do |id| %>
  <% if Place.find(id).ss_tel %>
    <p>-téléphonie</p>
  <% end %>
  <% if Place.find(id).ss_wifi %>
    <p>-wifi</p>
  <% end %>
  <% if Place.find(id).ss_shower %>
    <p>-douche</p>
  <% end %>
  <% if Place.find(id).sc_waste_sorting %>
    <p>-tri des déchets</p>
  <% end %>
  <% if Place.find(id).sc_waste_pumping %>
    <p>-pompage des déchets</p>
  <% end %>
  <% if Place.find(id).sc_waste_container %>
    <p>-containeur à déchet</p>
  <% end %>
  <% if Place.find(id).sc_security %>
    <p>-service de sécurité</p>
  <% end %>
<% end %>
<%= @start_date %>
<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <p><%= @start_date %></p>
  <%= text_field_tag(:arrival_date, nil, class: "datepicker") %>
  <% if :arrival_date == @start_date %>
    <% :arrival_date %>
  <%= f.input :nickname, placeholder: "LABrigitte" %>
  <%= f.input :brand, placeholder: "Feadship" %>
  <%= f.input :manufacturer, placeholder: "Luxury For You" %>
  <%= f.input :model, placeholder: "Model" %>
  <%= f.input :boat_type, placeholder: "Motorize, sail or other" %>
  <%= f.input :length, placeholder: "12 (meter)" %>
  <%= f.input :width, placeholder: "18 (meter)" %>
  <%= f.input :draught, placeholder: "4 (meter)" %>
  <%= f.input :multihull, as: :radio_buttons %>
  <%= f.submit %>
<% end %>













