<h2><%= @port.port_name %></h2>
<h3>Place de disponible <%=@port.places.count %> </h3>
<%= @port.picture %>
<p>Capacité d'accueil: <%=@port.size %></p>
<h4>Situation et coordonnées</h4>
<p>Coordonnées GPS: -lng <%=@port.lng%> -lat <%= @port.lat %></p>
<p>VHF: <%= @port.radio_channel %></p>
<p>téléphone: <%= @port.phone_number %></p>
<p>Email: <%= @port.email %></p>
<p>Adresse: <%= @port.address %></p>

<h4>Ravitaillement disponible:</h4>
<% @port.place_ids.each do |id| %>
  <% if Place.find(id).ss_elec %>
    <p>-éléctricité</p>
  <% end %>
  <% if Place.find(id).ss_fuel %>
    <p>-fuel</p>
  <% end %>
  <% if Place.find(id).ss_fresh_water %>
    <p>-eau</p>
  <% end %>
  <% if Place.find(id).ss_ice %>
    <p>-glace</p>
  <% end %>
<% end %>
<p>-----------------------------</p>
<h4>Commoditées disponible:</h4>
<% @port.place_ids.each do |id| %>
  <% if Place.find(id).ss_tel %>
    <p>-téléphonie</p>
  <% end %>
  <% if Place.find(id).ss_wifi %>
    <p>-wifi</p>
  <% end %>
  <% if Place.find(id).ss_shower %>
    <p>-douche</p>
  <% end %>
  <% if Place.find(id).sc_waste_sorting %>
    <p>-tri des déchets</p>
  <% end %>
  <% if Place.find(id).sc_waste_pumping %>
    <p>-pompage des déchets</p>
  <% end %>
  <% if Place.find(id).sc_waste_container %>
    <p>-containeur à déchet</p>
  <% end %>
  <% if Place.find(id).sc_security %>
    <p>-service de sécurité</p>
  <% end %>
<% end %>

<h4>Booking this place</h4>
  <p><%= @arrival_date %></p>
  <p><%= @departure_date %></p>
  <p>les caractéristique de votre bateau :</p>
  <p>-<%= current_user.boats.find(28).length %> mètre</p>
  <p>-<%= current_user.boats.find(28).width %> mètre</p>
  <p>-<%= current_user.boats.find(28).draught %> mètre</p>
  <p>prix total estimé:<%= @invoiced %>€</p>
<%= simple_form_for([@port,@booking]) do |f| %>
  <%= f.error_notification %>
  <p><%= f.input :comment, label: "Un commentaire à ajouter à la capitainerie ?" %></p>
  <p><%= f.input :arrival_date, input_html: {value: @arrival_date}, as: :hidden %></p>
 <p><%= f.input :departure_date, input_html: {value: @departure_date}, as: :hidden %></p>
  <p><%= f.input :place_id, input_html: {value: @port.place_ids.last}, as: :hidden %></p>
 <p><%= f.input :boat_id, input_html: {value: current_user.boat_ids.first}, as: :hidden %></p>
  <p><%= f.submit%></p>
<% end %>














