
  <div class="card-create">
    <div class="card-create-child text-center">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Votre réservation a bien été envoyée à la capitainerie
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          </h3>
        </div>
        <div class="col-xs-12">
          <h5>
            à l'email <%= @port.email %>, au port suivant: <%= @port.port_name %>
          </h5>
        </div>
        <div class="col-xs-12">
          <h5>
            en l'absence de réponse de la capitainerie d'ici 30 minutes
          l'équipe de Park-my-boat vous conseille de les joindre directement
          au numéro de téléphone suivant: <%= @port.phone_number %> ;)
          </h5>

        </div>
        <%= link_to "accueil", root_path, class: "btn"  %>
        <%= link_to "profile", profile_path, class: "btn"  %>
      </div>
    </div>
  </div>


