<div class="test">
  <div class="card-create">
    <div class="card-create-child text-center">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-xs-offset-3 spacing">
          <h3>
            Votre réservation a bien été envoyée à la capitainerie

          </h3>
        </div>
        <div class="col-xs-12 col-md-6 col-xs-offset-3 spacing">
          <h5>
            à l'email <%= @port.email %>, au port suivant: <%= @port.port_name %>
          </h5>
        </div>
        <div class="col-xs-12 col-md-6 col-xs-offset-3 spacing">
          <h5>
            en l'absence de réponse de la capitainerie d'ici 30 minutes,
          l'équipe de Park-my-boat vous conseille de les joindre directement
          au numéro de téléphone suivant: <%= @port.phone_number %> ;)
          </h5>

        </div>
        <div class="col-xs-12 spacing">
          <%= link_to "vos réservation", root_path, class: "btn"  %>
        </div>
        <div class="col-xs-12">
          <%= link_to "home", profile_path%>
        </div>
      </div>
    </div>
  </div>
</div>

