
<div class="search_bar">
  <div class="search_bar_visibe">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 well">
        <div class="row">
          <%= form_tag("/ports", method: "get") do %>

          <!-- Search bar city + dates -->

          <div class="col-xs-12 col-md-3">
            <div class="port">
              <%= label_tag(:port_name, "Proche du port...") %>
              <%= text_field_tag(:port_name, nil, required: true, placeholder: " ex: La ciotat", value: (@target.present? ? @target[:port_name] : nil )) %>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="date">
              <%= label_tag(:arrival_date, "Dates de réservation") %>
              <%= text_field_tag(:arrival_date, nil, class: "datepicker", required: true, placeholder: "Arrivée",value: (@target.present? ? @target[:arrival_date] : nil )) %>

              <%= text_field_tag(:departure_date, nil, class: "datepicker", required: true, placeholder: "Départ", value: (@target.present? ? @target[:departure_date] : nil )) %>
            </div>
          </div>

         <!-- Dimensions -->

          <div class="col-xs-12 col-md-4">
            <div class="dimensions">
              <%= label_tag(:length, "Dimensions du bateau (m)") %>
              <%= number_field_tag(:length, nil, required: true, placeholder: "Longueur",min: 1, step: :any, value: (@target.present? ? @target[:length] : nil )) %>

              <%= number_field_tag(:width, nil, required: true, placeholder: "Largeur",min: 1, step: :any,  value: (@target.present? ? @target[:width] : nil )) %>

              <%= number_field_tag(:draught, nil, required: true, placeholder: "Tirant d'eau",min: 1, step: :any, value: (@target.present? ? @target[:draught] : nil )) %>
            </div>
          </div>


        <!-- Search button -->

          <div class="col-xs-12 col-md-2">
            <div class="search-btn text-center">
              <%= submit_tag("Chercher", class: "btn")  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Class options for Javascript effect slice down/up -->

  <div class="options">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-3">
        <br>
          <h4>Options</h4>
        <br>
      </div>
     </div>
      <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
          <ul>
            <li><%= check_box_tag(:ss_elec) %>
                <%= label_tag(:ss_elec, "Electricité") %></li>
            <li><%= check_box_tag(:ss_fresh_water) %>
                <%= label_tag(:ss_fresh_water, "Eau douce") %></li>
            <li><%= check_box_tag(:ss_ice) %>
                <%= label_tag(:ss_ice, "Glace") %></li>
            <li><%= check_box_tag(:ss_fuel) %>
                <%= label_tag(:ss_fuel, "Carburant") %></li>
            <li><%= check_box_tag(:ss_tel) %>
                <%= label_tag(:ss_tel, "Téléphone") %></li>
            <li><%= check_box_tag(:ss_wifi) %>
                <%= label_tag(:ss_wifi, "Wifi") %></li>
          </ul>
        </div>
        <div class="col-xs-3">
          <ul>
            <li><%= check_box_tag(:ss_shower) %>
                <%= label_tag(:ss_shower, "Douches et sanitaires") %></li>
            <li><%= check_box_tag(:sc_waste_sorting) %>
                <%= label_tag(:sc_waste_sorting, "Tri des déchets") %></li>
            <li><%= check_box_tag(:sc_waste_pumping) %>
                <%= label_tag(:sc_waste_pumping, "Pompage des eaux usées") %></li>
            <li><%= check_box_tag(:sc_waste_container) %>
                <%= label_tag(:sc_waste_container, "Container des huiles usagée") %></li>
            <li><%= check_box_tag(:sc_security) %>
                <%= label_tag(:sc_security, "Surveillance") %></li>
          </ul>
        </div>
      </div>
    </div>
    <br>

    <!-- More options hidden -->
    <div class="text-center">
      <button class="btn-secondary">Options</button>
    </div>

  <% end %>
</div>
