<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @boats.each do |boat| %>
  <%= boat.nickname %>
  <%= boat.immatriculation %>
  <%= boat.brand %>
  <%= boat.manufacturer %>
  <%= boat.model %>
  <%= boat.boat_type %>
  <% if boat.multihull? %>
    <%= "multicoque" %>
  <% else %>
    <%= "monocoque" %>
  <% end %>
  <%= boat.length %>
  <%= boat.width %>
  <%= boat.draught %>
<% end %>
