<!DOCTYPE html>
<html>
  <head>
    <title>Park My Boat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta property="og:title" content="Park my boat">
    <meta property="og:image" content="http://www.fondos7.net/wallpaper-original/wallpapers/sunset-de-la-marina-1488.jpg">
    <meta property="og:description" content="Réservez vos places de bateaux avec simplicité, rapidité et efficacité">
    <meta property="og:site_name" content="park-my-boat.herokuapp.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="description" content="Avec Park my boat, réservez maintenant vos places de bateaux, avec simplicité, rapidité et efficacité">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <div class="inner-wrapper">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= yield(:after_js) %>

  </body>
</html>
