<!DOCTYPE html>
<html>
  <head>
    <title>Park My Boat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta property="og:title" content="Park my boat">
    <meta property="og:image" content="metafb.jpg">
    <meta property="og:description" content="Réservez vos places de bateaux avec simplicité, rapidité et efficacité">
    <meta property="og:site_name" content="park-my-boat.herokuapp.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="description" content="Avec Park my boat, réservez maintenant vos places de bateaux, avec simplicité, rapidité et efficacité">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b518482ba67fb99bf7213d9d5/cc4ba486ebd0b05aa340db28b.js");
    </script>
  </head>
  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
